# See:  http://johan.cc/2012/02/06/nagios-nginx/

upstream php {
  server unix:/run/php/{{ php_fpm }}.sock;
}

upstream fcgiwrap {
  server unix:/run/fcgiwrap.socket;
}

server {
  listen                443 ssl;
  ssl_certificate       /etc/ssl/certs/chain.pem;
  ssl_certificate_key   /etc/ssl/private/{{ inventory_hostname }}.pem;
  server_name           nagios nagios.{{ domain }}{% for domain_alias in domain_aliases %} nagios.{{ domain_alias }}{% endfor %};

  root                  /usr/share/nagios4/htdocs;       
  index                 index.php index.html;

  auth_basic            "Nagios at {{ inventory_hostname }}";
  auth_basic_user_file  /etc/nagios4/htpasswd.users;

  # Nagios is pretty sure it lives at $servername/nagios4/.
  location /nagios4/ {
    alias               /usr/share/nagios4/htdocs/;
  }

  location /stylesheets {
    alias /etc/nagios4/stylesheets;
  }

  location /nagios4/stylesheets {
    alias /etc/nagios4/stylesheets;
  }

  location ~ \.cgi$ {
    root /usr/lib/cgi-bin/nagios4;

    rewrite ^/cgi-bin/nagios4/(.*)$ /$1;

    include /etc/nginx/fastcgi_params;

    fastcgi_param AUTH_USER $remote_user;
    fastcgi_param REMOTE_USER $remote_user;
    fastcgi_param SCRIPT_FILENAME /usr/lib/cgi-bin/nagios4$fastcgi_script_name;     

    fastcgi_pass fcgiwrap;
  }

  location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass php;
    # See:  http://stackoverflow.com/a/15424808
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
  }
}
