---
- include:              '../tasks/dependencies.yml'
- include:              '../tasks/install_packages.yml'
- include:              '../tasks/lines_in_files.yml'
- include:              '../tasks/lines_not_in_files.yml'
- include:              '../tasks/sync_dirs.yml'
- include:              '../tasks/install_files.yml'
- include:              '../tasks/remove_files.yml'
- include:              '../tasks/symlinks.yml'
- include:              '../tasks/template_files.yml'
- include:              '../tasks/known_hosts.yml'
  vars:
    known_hosts:        "{% set monitored_sshd = [] %}{% set s = groups['sshd'] %}{% for h in groups['monitored'] %}{% if h in s %}{{ monitored_sshd.append(h) }}{% endif %}{% endfor %}{{ monitored_sshd }}"
- include:              '../tasks/enable_services.yml'
- include:              '../tasks/start_services.yml'
- include:              '../tasks/restart_services.yml'
  when:                 lines_in_files_result.changed
                        or lines_not_in_files_result.changed
                        or sync_dirs_result.changed
                        or install_files_result.changed
                        or remove_files_result.changed
                        or symlinks_result.changed
                        or template_files_result.changed
