{% for group in groups %}
  {%- if 'ungrouped' != group %}
define hostgroup {
  hostgroup_name        {{ group }}
  alias                 {{ group }}
    {%- for host in group %}
      {%- if host in groups['monitored'] %}
        {%- if True != written %}
  members               {% for host in group %}{% if host in groups['monitored'] %}{{ host }},{% endif %}{% endfor %}
          {%- set written = True %}
        {%- endif %}
      {%- endif %}
    {%- endfor %}

}
  {%- endif %}

{% endfor %}
