{% for g in groups %}
{% if 'ungrouped' != g %}
define hostgroup {
  hostgroup_name        {{ g }}
  alias                 {{ g }}
  members               {% for h in groups[g] -%}
{% if h in groups['monitored'] %}{{ h }},{% endif %}
{%- endfor %}

}

{% endif %}
{% endfor %}
